<ion-header>

  <ion-navbar>
    <ion-title>En pausa</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>

  <!--  <h5>{{tareas.length}} tarea(s) en espera de producción</h5> -->
  <hr>

  <div *ngFor="let orden of ordenes | async">
    <div *ngFor="let tarea of orden.data.servicios; let i = index">
      <ion-item *ngIf="tarea.estado=='EN PRODUCCIÓN - PAUSADO' && tarea.operador.data.usuario == usuarioid">
        <h2>{{tarea.descripcion}}</h2>
        <p>
          <strong>Tiempo estandar:</strong> {{tarea.tiempoEstandar}} minutos</p>
        <p>
          <strong>Cliente:</strong>{{orden.data.cliente.nombre}}</p>
        <p>
          <strong>Estado: </strong>{{tarea.estado}}</p>
        <p><strong>Vehículo: </strong>{{orden.data.vehiculo.placa}} - {{orden.data.vehiculo.marca}} - {{orden.data.vehiculo.modelo}}</p>
        <button ion-button icon-only item-end clear (click)="reanudarServicio(tarea, orden , i)">
          <ion-icon name="play"></ion-icon>
        </button>
      </ion-item>
    </div>

  </div>
  <ion-list>

  </ion-list>
</ion-content>